<title>My Reborts</title>
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Rebort</legend>
            <h2>Are you sure you want to delete the Rebort "{{ object.city }}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger"  type="submit">Yes , Delete</button>
            <a class="mjk" href="{% url 'blog-myreborts' %}">Cancel</a>
        </div>
       
    </form>
   
</div>
<style>
  legend{
    margin-bottom: 20px;
  }
  form {
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
  }

  form * {
    font-family: 'Poppins', sans-serif;
    color: #333;
    outline: none;
    border: none;
  }

  form h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
  }

  input:focus {
    border-color:#4CAF50;
  }

  button {
    width: 100%;
    height: 40px;
    background-color:#4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #4CAF50;
  }

  .form-group {
    margin-bottom: 20px;
  }


 .mjk{
  
    color:#000000;
    font-size: 20px;
 }
</style>

{% endblock content %}