<title>My Reborts</title>
{% extends "blog/base.html" %}
{% block content %}
    <div class="reborts-container">
    
                <div class="rebort-frame"> 
                    <p><strong>City:</strong> {{ rebort.city }}</p>
                    <div class="location-info">
                        <p><strong>Latitude:</strong> {{ object.location_latitude }}</p>
                        <p><strong>Longitude:</strong> {{ object.location_longitude }}</p>
                    </div>
                    <p><strong>Explanation:</strong> {{ object.explanation }}</p>
                    <a href="{{ rebort.image.url }}" target="_blank"><img src="{{ rebort.image.url }}" alt="Rebort Image"></a>
                    <p><strong>Solution:</strong> {{ object.solution }}</p>
                    <p><strong>Date Reported:</strong> {{ object.data_rebort }}</p>
                    

    </div>
    <style>
        /* Container for reborts */
        .reborts-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr)); /* Responsive grid layout */
            gap: 200px; /* Spacing between reborts */
            margin-top: 20px; /* Add space above reborts */
            margin-left: 500px;
        }

        /* Frame styling */
        .rebort-frame {
            border: 1px solid #ddd; /* Gray border */
            border-radius: 10px; /* Rounded corners */
            padding: 20px; /* Increase padding */
            background-color: #f9f9f9; /* Light gray background color */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
            width: 400px;
        }


        /* Location info styling */
        .location-info {
            margin-bottom: 12px; /* Add spacing below location info */
        }

        .rebort-frame img {
    display: block; /* Ensure image behaves as block element */
    max-width: 100%; /* Set maximum width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    margin-bottom: 12px; /* Add spacing below image */
}

        /* Rebort text styling */
        .rebort-frame p {
            font-size: 16px; /* Increase font size */
            line-height: 1.6; /* Improved readability */
            margin-bottom: 12px; /* Add spacing below paragraphs */
        }
        .my{
            width: 95px;
            background-color: #333;
        }
        .ry{
            width: 100px;
            background-color: #333;
            margin-top: 5px;
           
        }
        .cv{
            width: 100px;
            background-color: #333;
            margin-top: 5px;
            
        }
        
    </style>
{% endblock content %}